@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,*::after,*::before{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Poppins',sans-serif;
}

a{
  color:inherit;
  text-decoration: none;
}

ul{
  list-style: none;
}

.container{
  max-width: 1320px;
  padding: 0 10px;
  margin: 0 auto;
}
.header{
  padding: 30px 0;
}
.header__inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__menu-list{
  display: flex;
  align-items: center;
  gap: 50px;
}
.menu__item-link{
  font-size: 14px;
  font-weight: 600;
  opacity: 1;
  transition:all .3s ease;
}
.menu__item-link:hover{
  opacity: 0.5;
  font-size: 16px;
}
.menu__list-itemCart{
  position: relative;
}
.menu__link-spanCart{
  display: block;
  width: 16px;
  height: 17px;
  background-color: #0156FF;
  border-radius: 50%;
  font-size: 10px;
  font-weight: 700;
  color:#fff;
  text-align: center;
  line-height: 17px;
  position: absolute;
  top:-5px;
  right: -8px;
}
.sectionTop__img{
  width: 100%;
  margin-bottom: 37px;
}
.sectionCustom{
  padding-bottom: 35px;
}
.sectionCustom__inner{
  display: flex;
  gap:25px;
}
.sectionCustom__firstBlock{
  background-image: url('/public/images/sectionCustom/image\ 30.png');
  background-repeat: no-repeat;
  min-width: 230px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sectionCustom__firstBlock-title{
  font-size: 22px;
  font-weight: 700;
  color:#fff;
  max-width: 110px;
  text-align: center;
  margin-top: 130px;
  margin-bottom: 85px;
}
.sectionCustom__firstBlock-link{
  font-size: 13px;
  font-weight: 400;
  color:#fff;
  text-decoration: underline;
}
.sectionCustom__products{
  display: flex;
  gap:10px;
  align-items: center;
}
.sectionCustom__products-item{
  padding: 20px;
  max-width: 230px;
}
.products__item-imgBlock{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.products__item-mark{
  display: flex;
  align-items: center;
  gap: 9px;
}
.mark__stars{
  display: flex;
  align-items: center;
  gap: 3px;
}
.mark__text{
  color:#A2A6B0;
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 5px;
}
.products__item-title{
  font-size: 13px;
  font-weight: 400;
  color:#000;
  margin-bottom: 10px;
}
.products__item-price{
  font-weight: 700;
  font-size: 18px;
  color:#000;
}
.sectionLaptops{
  padding-bottom: 40px;
}
.sectionLaptops__firstBlock{
  background-image: url('/public/images/sectionLaptops/image\ 30.png');
  padding: 20px;
}
.tabs__list{
  display: flex;
  align-items: center;
  gap:25px;
  margin-bottom: 25px;
}
.tabs__item-btn{
  background-color: #fff;
  color:#838383;
  font-size: 16px;
  font-weight: 700;
  border:none;
  cursor:pointer;
  transition:color .3s ease;
}
.tabs__item-btn--active{
  padding-bottom: 5px;
  color:#000;
  border-bottom:2px solid #0156FF;
}
.sectionMonitors{
  margin-bottom: 30px;
}
.sectionMonitors__firstBlock{
  background-image: url('/public/images/sectionMonitors/image 30.png');
}
.sectionCustom__products-itemOp0{
  animation: op 1s ease;
}
.sectionCustom__products-itemOp2{
  animation: op2 1s ease;
}

@keyframes op {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1; 
  }
}

@keyframes op2 {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1; 
  }
}